

body{
          
    margin: 0px;
    padding: 0px;
    background: rgb(5, 5, 5);
    color: white;
    
    height: 100vh;
    
    overflow-y: hidden;
    overflow-x: hidden;
}


#page_head{

    padding-top: 2vh;
    padding-left: 3%;
    height: 8%; /* height= 10% == 8% +2% */
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    background-color: black;
    
}

#up_half{
    
    position: fixed;
    /* object-fit: fill !important; */
    height: 90%;

    width: 100%;
    /* padding-right: 4%; */
    background-color: deeppink;
    display: flex;
}

.com_div1{
    /* position: relative; */
    
    /* display: flex; 
    flex-direction: column; */
   
    width: 90%;
    /* padding-right: 1%; */
    height: 100%;
    
    /* background-color: cyan; */
}

#side_bar{

   
    height: 100%;
    /* width: 165px; */
    border-right: 5px solid rgb(131, 0, 0);
    width: 10%;
    min-width: 120px;
    margin: 0px;
    background-color: rgb(122, 121, 121);

}

ul{
    margin: 0;
    border-left: 5px solid rgb(235, 9, 9);
    list-style-type: none;
    /* border-bottom: 2px solid rgb(226, 73, 73); */
    /* background-color: darkorange; */
    background-position: 0px;
}


li{
   
    /* background-color: darkgreen; */
    list-style-type: none;
    text-indent: -20px;
    
    padding-left: 0px;
    font-size: large;
    margin-top: 10px;
    /* font-weight: bold; */
    /* margin-right: 10px;
    margin-left: 0px; */

}


main{

    display: flex;
    position: fixed;
    /* position: relative; */
    /* bottom: 10px !important; */
    height: 100% !important;
}

#main_head_head{
    position: relative;
    /* border-color: black;
    //border-bottom-color: black; */
    border-bottom: 1px solid rgb(3, 3, 3);
    height: 10%;
    display: flex;
    background-color: rgb(240, 60, 60);
}


.main_head{
    
    margin: auto;
    width: 20%;
    /* background-color: rgb(255, 255, 255);  */
    
}


button{

    padding: 2px;
    margin: 2px;
    /* //border-radius: 15px; */
    
}

#random{
    
    font-size: large;
    border-radius: 15px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(19, 148, 223);
    border-width: 4px;
    border-color: rgb(221, 240, 241);
    
}

#but1{
    border-radius: 15px;
    width: 100px;
    margin-top: 5px;
    font-size: medium;
    background-color: rgb(19, 148, 223);
    border-width: 4px;
    border-color: rgb(221, 240, 241);
}
#canvas{
    
    position: relative;
    resize: vertical;
    overflow-y: auto;
    /* position: relative; */
    background-color: rgb(241, 241, 241);
    height: 65%;
    width: 99%;
    padding-right: 1%;
    display: flex;
}

#canvas_left{
    
    /* position: relative; */
    width: 70%;
    
    
}


#canvas_right{
    /* position: relative; */
    border-color: black;
    width: 30%;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
}

footer{
    
    flex-grow: 1;
    position: relative;
    /* resize: vertical; */
     /* display: flex; */
    /*flex-direction: column; */
    
    /* object-fit: fill !important; */
    border-color: darkgreen;
    background-color: rgb(0, 0, 0);
    /* height:25% !important; */
    height:25%;
    
    /* transform: rotateX(180deg); */

}


.div_footer{
    
    /* border-right: 2px solid rgb(253, 251, 251); */
    /* object-fit: fill !important; */
    height: 100% !important;
    position: relative;
    /* bottom: 10px !important; */
    /* resize: vertical; */
    /* overflow: auto; */
    /* transform: rotateX(180deg); */
    /* transform: rotateX(180deg); */
    /* height: 190px !important;
    
    display: inline-block;
    height: 190px ;
    /* height: 100vh; */
    /* width: 350px ; */

    scrollbar-width: thin;
}

.can_footer{
   
    object-fit: fill !important;
    position: relative;
    /* resize: vertical; */
    /* height: 90% ; */
    height: 90% !important;
    scrollbar-width: thin;

    /* width: 100% !important; */
}


/* This Gives Our Footer Element to Contain the Overflow using scrole Bar  */

.horizontal-scroll{

    overflow-y: hidden;
    /* overflow-x: scroll; */
    overflow-wrap: normal;
    
    
  } 
  
  ::-webkit-scrollbar{
      scrollbar-width: thin;
  }













