

body{
          
    margin: 0px;
    padding: 0px;
    background: rgb(5, 5, 5);
    color: white;
    /* height: 853px; */
    height: 100vh;
    
    
    overflow-y: hidden;
    overflow-x: hidden;
}


#page_head{

    padding-top: 2vh;
    padding-left: 3%;
    height: 8%; /* height= 10% == 8% +2% */
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    background-color: black;
    
}

ul{
    margin: 0;
    list-style-type: none;
}
li{
   
    font-size: large;
    margin-top: 10px;
}
#side_bar{

   
    height: 100%;
    /* width: 165px; */
    width: 165%;
    min-width: 120px;
    margin: 0px;
    background-color: rgb(99, 1, 1);

}

/* #main{
   
    background-color: burlywood;
    
} */

main{
    position: relative;
}

button{

    padding: 2px;
    margin: 2px;
}
#up_half{
    
    height: 90%;
    /* width: 100%; */
    background-color: deeppink;
    display: flex;
}
.com_div1{
    /* position: relative; */
   
    width: 90%;
    height: 100%;
    
    /* background-color: cyan; */
}
#main_head_head{
    height: 10%;
    display: flex;
    background-color: rgb(135, 222, 164);
}
.main_head{
    
    margin: auto;
    width: 20%;
    /* background-color: rgb(255, 255, 255);  */
    
}

footer{
    
    /* resize: vertical;
    overflow: auto; */
    position: relative;
   
   
    
    border-color: darkgreen;
    background-color: rgb(0, 0, 0);
    /* height:25% !important; */
    height:25% ;
    
    /* transform: rotateX(180deg); */

}

#canvas{
    
    
    resize: vertical;
    overflow-y: auto;
    /* position: relative; */
    background-color: rgb(241, 241, 241);
    height: 65%;
    width: 100%;
    display: flex;
}

#canvas_left{

    width: 70%;
    
}


#canvas_right{
    
    width: 30%;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
}

.div_footer{
    
    position: relative;
    /* resize: vertical; */
    /* overflow: auto; */
    /* transform: rotateX(180deg); */
    /* transform: rotateX(180deg); */
    /* height: 190px !important;
    
    display: inline-block;
    height: 190px ;
    /* height: 100vh; */
    /* width: 350px ; */
    scrollbar-width: thin;
}
.can_footer{

    position: relative;
    /* resize: vertical; */
    height: 90% ;
    /* height: 90% !important; */
    scrollbar-width: thin;

    /* width: 100% !important; */
}


/* This Gives Our Footer Element to Contain the Overflow using scrole Bar  */

 .horizontal-scroll{

  overflow-y: hidden;
  /* overflow-x: scroll; */
  overflow-wrap: normal;
  
  
} 

::-webkit-scrollbar{
    scrollbar-width: thin;
}